* {
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
    overflow: hidden;
}

.votary-app {
    display: flex;
    flex-direction: row;
    background-color: rgba(23, 23, 23, 1);
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.left-border {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 100vh;
    padding: 16px 0 0 22px;
    gap: 64px;
    border-right-color: rgba(80, 80, 80, 1);
    border-right-style: solid;
    background-color: rgba(35, 34, 34, 1);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.logo__image {
    background-image: url("images/logo.svg");
    width: 28px;
    height: 28px;
}

.logo__title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
}

.left-panel__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 90%;
}

.left-panel__item {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 4px 0 4px 4px;
}

.isActive {
    border-radius: 8px;
    background-color: rgba(235, 235, 245, 0.1);
}

.left-panel__item-image--record, .left-panel__item-image--note,
.left-panel__item-image--graphic {
    width: 26px;
    height: 26px;
}

.left-panel__item-image--record {
    background-image: url("images/icon-note.svg");
}

.left-panel__item-image--note {
    background-image: url("images/icon-task.svg");
}

.left-panel__item-image--graphic {
    background-image: url("images/icon-graphic.svg");
}

.left-panel__item-text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(28, 28, 28, 0);
    border: 0;
    cursor: pointer;
}

.votary-main {
    width: 100%;
    height: 100vh;
    overflow: auto;
    scrollbar-width: thin;
}

.votary-content {
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__container {
    height: 100%;
    width: 35%;
    max-width: 362px;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    gap: 32px;
}

.form__title {
    font-size: 28px;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
}

.form__container--gap {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form__element {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__field-title {
    font-size: 18px;
    font-weight: 100;
    color: #FFFFFF;
}

.form__input {
    font-size: 18px;
    padding: 14px 12px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}

.form__input--error {
    border-color: #A40000;
}

.form__error {
    color: #B40000;
}

.form__submit, .button__add-employee {
    width: 100%;
    padding: 13px 0;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #0059AC;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.form__submit--error {
    background-color: rgba(0, 89, 172, 0.25);
}

.record-button__add-employee {
    padding: 20px 46px 0 0;
    display: flex;
    justify-content: flex-end;
}

.record-button__add-employee--link {
    width: 20%;
}

.form__text, .form__link {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}

.record-button {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.record-button__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.record-button__button--on {
    background: linear-gradient(to bottom, #08A652, #A0E720, #21BA72);
}

.record-button__button--off {
    background: linear-gradient(to bottom, #FF0000, #A40000, #FF8000);
}

.record-button__icon--off, .record-button__icon-on {
    width: 120px;
    height: 120px;
}

.record-button__icon--off {
    background-image: url("images/micro-off.svg");
}

.record-button__icon--on {
    background-image: url("images/micro-on.svg");
}

.record-button__status {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 100;
}

.record-notes, .record-notes-detail {
    display: flex;
    flex-direction: column;
    padding: 50px 46px 0 46px;
    gap: 24px;
}

.record-notes__title, .record-notes-detail__title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 300;
}

.record-notes__content, .record-notes__list {
    display: flex;
    flex-direction: column;
}

.record-notes__list {
    max-height: 480px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.record-notes__header, .record-notes__item {
    display: flex;
    padding: 15px 18px 15px 18px;
}

.record-notes__item {
    cursor: pointer;
}

.record-notes__item:nth-child(odd) {
    background-color: #232222;
}

.record-notes__header-item {
    color: #8B8B8B;
    font-size: 16px;
    font-weight: 100;
    position: relative;
}

.record-notes__item-text {
    color: #FFFFFF;
    font-weight: 100;
    text-align: left;
    position: relative;
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.record-notes__header-item,
.record-notes__item-text {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.record-notes__header-item:not(:first-child)::before {
    content: "|";
    color: #2C2C2C;
    position: absolute;
    left: 0;
}

.record-notes-detail__content {
    display: flex;
    flex-direction: column;
    padding: 12px 25px 24px 20px;
    background-color: #232222;
    position: relative;
    max-height: 554px;
    min-width: 70%;
}

.record-notes-detail__section {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
}

.record-notes-detail__section--key-points {
    font-size: 20px;
    position: relative;
}

.record-notes-detail__section--key-points::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: -20px;
    right: -25px;
    height: 1px;
    background-color: rgba(235, 235, 245, 0.1);
}

.record-notes-detail__section--text {
    padding: 38px 0 96px 0;
    max-height: 500px
}

.record-notes-detail__section-title, .record-notes-detail__text,
.record-notes-detail__download-text {
    line-height: 26px;
    max-height: 370px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.record-notes-detail__section--download {
    position: absolute;
    bottom: 24px;
    left: 20px;
    right: 25px;
}

.record-notes-detail__section--download::after {
    content: "";
    position: absolute;
    top: -24px;
    left: -20px;
    right: -25px;
    height: 1px;
    background-color: rgba(235, 235, 245, 0.1);
}

.record-notes-detail__link {
    color: #0059AC;
    text-decoration: none;
}

.record-task {
    display: flex;
    gap: 30px;
    width: 100%;
}

.task-details {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #232222;
    width: 268px;
    flex: 0 0 268px;
    position: relative;
    max-height: 554px;
    min-height: 500px;
}

.task-details__status {
    padding: 6px 70px 4px 20px;
    background-color: #0059AC;
}

.task-details__status--green {
    background: linear-gradient(rgba(8, 166, 82, 1) 0%, rgba(68, 231, 32, 1) 64%, rgba(33, 186, 114, 1) 100%);
    min-height: 44px;
    display: flex;
    align-items: center;
}

.task-details-main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 18px 20px 26px 20px;
}

.task-details__info {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.task-details__info-item {
    position: relative;
    color: #FFFFFF;
    font-size: 16px;
}

.task-details__info-item::after {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(235, 235, 245, 0.1);
}

.task-details__participants {
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: absolute;
    bottom: 24px;
    left: 20px;
    right: 20px;
}

.task-details__participant {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.task-details__participant-info {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.task-details__participant-info::after {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(235, 235, 245, 0.1);
}

.task-details__avatar {
    width: 34px;
    height: 34px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.efficiency-stats {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.efficiency-stats__overview {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    background-color: rgba(35, 34, 34, 1);
}

.efficiency-stats__overview-title {
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
}

.efficiency-stats__overview-title::after {
    content: "";
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(235, 235, 245, 0.1);
}

.efficiency-stats__overview {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.efficiency-stats__circle-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.efficiency-stats__circle--first, .efficiency-stats__circle--second,
.efficiency-stats__circle--third {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.efficiency-stats__circle--first {
    width: 300px;
    height: 300px;
    background: linear-gradient(rgba(0, 89, 172, 1) 0%, rgba(19, 62, 101, 1) 64%, rgba(0, 36, 70, 1) 100%);
}

.efficiency-stats__circle--second {
    width: 90%;
    height: 90%;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.efficiency-stats__circle--third {
    position: absolute;
    width: 90%;
    height: 90%;
    font-size: 64px;
    color: #000000;
    z-index: 1;
}

.efficiency-stats__circle--second::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 80%;
    background: linear-gradient(rgba(8, 166, 82, 1) 0%, rgba(68, 231, 32, 1) 64%, rgba(33, 186, 114, 1) 100%);
    clip-path: polygon(
            0 50%,
            1% 65%,
            5% 60%,
            20% 50%,
            30% 50%,
            40% 60%,
            50% 60%,
            60% 60%,
            70% 50%,
            80% 50%,
            95% 60%,
            99% 65%,
            100% 100%,
            0 100%
    );
    animation: waveMoveRight 4s ease-in-out infinite;
    transform-origin: bottom;
}

.efficiency-stats__circle--second::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20%;
    width: 120%;
    height: 90%;
    background: #23e83d;
    opacity: 0.3;
    clip-path: polygon(
            0 50%,
            1% 65%,
            5% 60%,
            20% 50%,
            30% 50%,
            40% 60%,
            50% 60%,
            60% 60%,
            70% 50%,
            80% 50%,
            95% 60%,
            99% 65%,
            100% 100%,
            0 100%
    );
    animation: waveMoveLeft 4s ease-in-out infinite;
    transform: scaleX(-1) translateX(0);
    transform-origin: bottom;
}

@keyframes waveMoveRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes waveMoveLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25px);
    }
    100% {
        transform: translateX(0);
    }
}

.efficiency-stats__overview, .efficiency-stats__in-progress,
.efficiency-stats__completed, .efficiency-stats__overdue {
    padding: 12px 28px 0 28px;
    position: relative;
}

.efficiency-stats__in-progress-title, .efficiency-stats__completed-title,
.efficiency-stats__overdue-title {
    font-size: 20px;
    color: #FFFFFF;
}

.efficiency-stats__in-progress-value, .efficiency-stats__completed-value,
.efficiency-stats__overdue-value {
    font-size: 64px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 26px;
}

.efficiency-stats__in-progress {
    height: 25vh;
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    background: linear-gradient(rgba(0, 89, 172, 1) 0%, rgba(19, 62, 101, 1) 64%, rgba(0, 36, 70, 1) 100%);
}

.efficiency-stats__completed {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
    background: linear-gradient(rgba(8, 166, 82, 1) 0%, rgba(68, 231, 32, 1) 64%, rgba(33, 186, 114, 1) 100%);
}

.efficiency-stats__overdue {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 3;
    background: linear-gradient(rgba(255, 0, 0, 1) 0%, rgba(164, 0, 0, 1) 64%, rgba(255, 128, 0, 1) 100%);
}

.efficiency-stats__chart {
    grid-column: span 8 / span 8;
    grid-row: span 4 / span 4;
    grid-row-start: 5;
}

.scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.grap__image {
    background-image: url("images/graphic.svg");
    width: 912px;
    height: 282px;
}
